/* Bases */

html, body{
    background: #fff;
    color: black;
    font-size: 18px;
    margin: 0;
    padding:0;
    font-family:'Roboto Condensed', Arial;
    box-sizing: border-box;
}

/*NAVBAR THAT WILL DISPLAY ON BIG SCREEN*/
header{
    height: 76px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;   

}
.big-screen-nav{
    float: right;
}

.big-screen-nav ul{
    list-style-type: none;
    margin-right: 60px;
    margin-top: 0;
}

.big-screen-nav li{
    display: inline-block;
    padding-top: 30px;
    
}

.current{
    border-top: 3px solid #3491b2;
}

.big-screen-nav a:hover{
    border-top: 3px solid #3491b2;
}

.big-screen-nav a{
    text-decoration: none;
    color: #7c7c7c;
    font-weight: normal;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 29px;
    text-align: center;
    margin-left: 5px;
}



#logo-big-screen{
    float: left;
    margin-top: 10px;
    margin-left: 60px;
}



#navbar-resp{
    display: none;
}


/*MEDIA QUERY FOR THE NAVBAR ON SMALL AND MEDIUM DEVICES*/



@media screen and (max-width: 795px){




header{
    display: none;
}

#navbar-resp{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
}

/* Menu Styles */
#logo{
    margin-top: 12px;
    margin-left: 10px;
    float: left;
    width: 20px;
    height: 60px;
    display: block;
    float: left;

}

#navbar-resp{
    background-color: #fff;
    height: 76px;
}

input#menu{
    display: none;

}

.dropdown-menu{
    background: #fff;
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.dropdown-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}


.dropdown-menu a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #3491b2;
    font-weight: bold;
    font-family:'Roboto Condensed', Arial;
    font-size: 20px;
}

.dropdown-menu a:hover{
    font-size: 22px;
}


.dropdown-menu label{
    display: block;
    cursor: pointer;
    background: url(images/closed-min.png) no-repeat left center;
    padding: 30px 0 30px 80px;
    margin-top: 10px;
} 

/* Toggle Effect */

.menu-content{
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content{
    max-height: 1000px;
    transition: all ease 1s;
}

input:checked ~ label{
    background: url(images/open-min.png) no-repeat left center;
}


@media screen and (max-width: 550px){
    #logo img{
        height: auto;
        width: 150px;
        margin-top: 10px;
    }
}
}
/**/
/*SECTION 1 ------------- SLIDER*/
/**/

#home{
    margin-top: 0;
    height: 76px;
}


#bg-img{
    width: 100%;
    height: auto;

}
.slider-container-relatif {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slide-line{
    position: absolute;
    width: 100%;
    background:rgba(209, 209, 209, 0.5);
    bottom: 4px;
}

.blue-line{
    width: 10%;
    height: 5px;
    bottom: 5px;
    background-color: #3491b2;
}

/*SECTION 1 TEXT*/

#intro{
    position: absolute;
    top: 22%;
    left: 15%;

}

#intro h1{
    margin-top: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;

}

span {
    color: #5cadd3;
}

#intro p{
    color: #fff;
    font-size: 14px;
   font-weight: bold;
   margin-bottom: 25px;
}

button {
   
    height: 45px;
    background-color: #5cadd3;
    color: #fff;
    border-color: transparent;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid #4494bb;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    border-bottom: 3px solid #fff;
}



#half-circle{
    position: absolute;
    left: 0px;
    top: 38%;
    width: 100%;
}
#half-circle-left{
    height:90px;
    width:45px;
    border-radius: 0 90px 90px 0;
    background-color: rgba(53, 53, 54, 0.3);
    float: left;
    cursor: pointer;
}

#half-circle-right{
    height:90px;
    width:45px;
    border-radius: 90px 0 0 90px;
    background-color: rgba(53, 53, 54, 0.3);
    float: right;
    cursor: pointer;
}

#angle-left{
    color:#fff;
    padding-top: 25px;
    padding-left: 7px;
    font-size: 40px;
}

#angle-right{
    color: #fff;
    padding-top: 25px;
    padding-left:14px;
    font-size: 40px;
}
/*SECTION 1 ------SLIDER ----- MEDIA QUERY*/
@media screen and (max-width: 789px){
    #intro h1, p{
        text-align: left;
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0;
    }

    #intro{
        top: 10%;
        left: 10%;
    }
    #intro p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
 
    #half-circle-left{
        height: 45px;
        width: 23px; 
    }


    #half-circle-right{
        height: 45px;
        width: 23px; 
    }
    #angle-left{
    padding-top: 12px;
    padding-left: 4px;
    font-size: 20px;
}

    #angle-right{
    padding-top: 12px;
    padding-left:7px;
    font-size: 20px;
}


}

@media screen and (max-width: 550px){
    #slider{
        background:url('images/bg1.jpg');
        background-position: 67% center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 76px);
    }
    .slider-container-relatif img{
        display: none;
    }
    #intro{
        margin-top: 10%;
        margin-bottom: 10%;
        position: relative;
        top:0;
        left: 0;
        text-align: center;

    }


    #intro h1{
        text-align: center;
        margin-bottom: 1rem;
        font-size: 24px;
        color:#fff;
        margin-top: 20%;


    }
    .slide-line{
        display: none;
    }
    #half-circle{
        display: none;
    }
    #intro p{
        text-align: center;
        font-size: 20px;
        color:#fff;
        background-color: rgba(92,173,211,.8);
        margin-bottom: 10%;
        margin-top: 45%;
    }

    button{
        height: 35px;
        font-size: 20px;
        margin-top: 10%;

    }
}
/**/
/*SECTION 2 ----------- SERVICES -----------*/
/**/
#services{
    margin-top: 8%;
}
#intro-services{
    text-align: center;
}

.fa-circle{
    color: #5cadd3;
    vertical-align: middle;
    margin-top: 1rem;
    padding: 4px;
}

#about{
    z-index: 999;
}


.line-deco::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 2px;
     border-bottom: 1px solid rgba(189, 195, 199, .7);
    margin-top: 1rem;
}
.line-deco::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 2px;
    border-bottom: 1px solid rgba(189, 195, 199, .7);
    margin-top: 1rem;
    
}
#intro-services p{
    margin-top: 2%;
    margin-bottom: 2%;
}
.icon-div{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 75px;
    

}

.ball-div{
    display: inline-block;
    margin-bottom: 20px;

}

.icons{
    font-size: 28px;
    color: blue;
    padding: 15px;
    border-radius: 50%;
    color: #5cadd3;
    border: 1px solid rgba(189, 195, 199, .7);

}


.blue-ball{
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-top: 20px;
    border-radius: 50%;
    padding: 0;
    border: 4px solid white;
    position: absolute;
    color: #5cadd3;
    

}

.icon_text{
    margin-top: 20px;
    margin-right: 10%;
   
}

.container{
    display: flex;
    width: 50%;
}

.all-icon{
    display: flex;
    
}

#big-container{
    display: flex;
    margin-top: 5%;
}

.container-flex{
    width: 50%;
}

#img-pc{
    width: 100%;
    text-align: center;
}


#intro-services h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(46, 49, 49, 1);
    margin-bottom: 0px;
}

#intro-services p{
    font-size: 18px;
    color: rgba(46, 49, 49, 0.7);
}

.container p{
    color: grey;
    font-size: 18px;
    line-height: 1.5;

}

.container h3{
    font-size: 22px;
    color:rgba(46, 49, 49, 1);
    margin-bottom: 5px;
    margin-top: 0px;
}
.container{
    margin-left: 10%;
}
.side-text{
    margin-left: 10%;
    margin-right: 10%;
}

.side-text h3{
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgba(46, 49, 49, 1);
}
.side-text p{
    margin-top: 1%;
}
.icon_text{
    margin-right: 0;
}

.all-icon{
    margin-bottom: 5%;
}
/*SECTION 2 ----- SERVICES ----------MEDIA QUERY*/
@media screen and (max-width: 900px){
    #intro-services p{
        text-align: center;
    }


    #big-container{
        display: block;
        margin-bottom: 5%;
    }

    .container-flex{
        margin: auto;
        width: 100%;
    }
    .container{
        margin-left: 10%;
        margin-right: 10%;
        width:  80%;
        text-align: justify;
    }
    .side-text{
        margin-left: 7%;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 550px){
     #intro-services p{
    margin: 5%;
}

     .container{
        margin: auto;
        width:  80%;
        text-align: center;
    }

    .side-text p{
        text-align: center;
    }


    .all-icon{
        display: block;
    }
    .side-text{
        margin-left: 7%;
    }
    .blue-ball{
    margin-left: 20px;
    margin-top: -50px;
}

#img-pc img{
    height: auto;
    width: 100%;
}

.icon-div{
    margin-bottom: 10%;
    margin-top: 10%;
    width: 100%;
}
#big-container{
    margin-top: 5%;
}

}

/**/
/*SECTION 3 ----------- PROJETS ---------*/
/**/
/*------------MENU----------*/
#portfolio{
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: #f5f5f5;
}
#intro-portfolio{
    text-align: center;
}
#intro-portfolio h2{
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgba(46, 49, 49, 1);
    margin-bottom: 0px;
    padding-top: 15px;
    
}

#intro-portfolio p{
    font-size: 18px;
    color: rgba(46, 49, 49, 0.7);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#btn{
    margin-top: 60px;
    display: flex;
}
#btn ul {
  list-style-type: none;
  margin:auto;
  padding: 0;
  overflow: hidden;
  background-color: /*#333*/#e5e5e5;
  border-radius: 5px;
}

#btn li {
  float: left;

}

#btn li a {
  display: block;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  color: #686c71;
  font-size: 18px;
}


#btn li a.selected{
    background-color: #5cadd3;
    color: #fff;
    border-bottom: 3px solid #4494bb;
}

#btn li a:hover{
    background-color: #5cadd3;
    color: #fff;
    border-bottom: 3px solid #4494bb;
}

.caret{
    position: absolute;
    margin-top: 23px;
    margin-left: 27px;
    display: none;
   
}
.caret-active{
    display: block;
}


#btn li a:hover span.caret{
    display: block;
}


.fa-caret-down{
    color: #4494bb;
    font-size: 22px;
}
/*SECTION 3 ---------- PROJETS - MENU -----------MEDIA QUERY------*/
@media screen and (max-width: 550px){

#btn ul{
    margin:auto;
}
#btn li a {
  font-size: 14px;
}

.caret{
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

.fa-caret-down{
    color: #4494bb;
    font-size: 22px;
}



}
@media screen and (max-width: 350px){

#btn li a {
  font-size: 10px;
}
.caret{
    position: absolute;
    margin-top: 15px;
    margin-left: 12px;
}

.fa-caret-down{
    color: #4494bb;
    font-size: 20px;
}
}
/*SHOWCASE*/

#showcase{
    margin-top: 5%;
}
.flex-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}


.item{
    width: 22%;
    margin: 1%;

}

.item img{
    width: 100%;
    height: 100%;
}

figure{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.bg-fig{

    position: absolute;
    width: 100%;
    bottom: 0;
    height: 45%;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all .9s ease;
    transition-delay: .1s;

}

figcaption h4{
    font-size: 18px;
    color:#fff;
    padding-top: 2%;
    padding-left: 2%;
    margin: 0;
}


figcaption p{
    font-size: 16px;
    color: #fff;
    padding-left: 2%;
    padding-top: 2%;
    margin:0;


}

.item:hover .bg-fig{
    transform: translateY(0%);
    opacity: 1;
}


.fa-eye{
    border-radius: 50%;
    background-color: #5cadd3;
    font-size: 14px;
    padding:10px;
    color: white;
    border: 2px solid white;
    top:-30%;
    left: 75%;
    position: absolute;
    margin-left: 0px;
    margin-bottom: 0px;

}






/*SECTION 3 ------------PROJETS --SHOWCASE ------------MEDIA QUERY*/

@media screen and (max-width: 992px){
    .item{
        width: 30%;
    }
}
@media screen and (max-width: 768px){
    .item{
        width: 48%;
    }
        figcaption h4{
    font-size: 16px;
    color:#fff;
    padding-top: 1%;
    margin: 0;
}


figcaption p{
    font-size: 12px;
    color: #fff;
    padding-top: 1%;
    margin:0;


}

.fa-eye{
        top: -20%;
        left: 80%;
}
.bg-fig{

    
    transform: translateY(00%);
    opacity: 1;
   

}
}
@media screen and (max-width: 415px){
    .item{
        width: 70%;
    }
.bg-fig{

    
    transform: translateY(00%);
    opacity: 1;
   

}

}
/**/
/*SECTION 4 ------------CONTACT---------*/
/**/

#tel{
    border-bottom: 1px dotted grey;
    color: grey;
}

#input-fields{
    text-align: center;
}
#contact-info{
    margin-left: 5%;
}

#contact-info h3, p{
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}
#contact-info h2{
    font-size: 24px;
    font-weight: bold;
    color:rgba(46, 49, 49, 1);
}

#contact-info h3{
    font-size: 14px;
    font-weight: bold;
}

#contact-info p{
    font-size: 14px;
}



input, textarea{
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    margin-top: 5%;
    background:white;
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0.5rem;

}

textarea{
    height: 80px;
}

#form-btn{
    font-size: 14px;
    padding: 0.3rem;
    height: auto;
    width: auto;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
}
iframe{
    border:0;
}
/*SECTION 4 ---------CONTACT -------MEDIA QUERY*/
@media screen and (min-width: 795px){


#overlay{
    width: 100%;
    height: 600px;
    background-color:rgb(125, 197, 219);
    position: absolute;
    margin: 0;
}

iframe{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    
}
form{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    width: 25%;
    right: 10%;
    margin-top: 10%;
    

}
}


#tel{
    border-bottom: 1px dotted grey;
    color: grey;
}

#input-fields{
    text-align: center;
}
#contact-info{
    margin-left: 5%;
}

#contact-info h3, p{
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}
#contact-info h2{
    font-size: 24px;
    font-weight: bold;
    color:rgba(46, 49, 49, 1);
}

#contact-info h3{
    font-size: 14px;
    font-weight: bold;
}

#contact-info p{
    font-size: 14px;
}



input, textarea{
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    margin-top: 5%;
    background:white;
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0.5rem;

}

textarea{
    height: 80px;
}

#form-btn{
    font-size: 14px;
    padding: 0.3rem;
    height: auto;
    width: auto;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 5%;
}
@media screen and (max-width: 795px){

   #overlay{
    width: 90%;
    height: 300px;
    background-color:rgb(125, 197, 219);
    text-align: center;
    margin:auto;
    margin-top: 5%;
    border: 1px solid rgb(125, 197, 219) ;
}

iframe{
    width: 100%;
    height: 300px;
    opacity: 0.7;
    margin: auto;
    
}
form{
    
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    width: 70%;
    margin:auto;
    margin-top: 10%;
    border: 1px solid grey;
    margin-bottom: 5%;
    font-family: 'Roboto Condensed', 'Arial';

}

}
   
